<% content_for :body do %>
  <div class="list">
    <div class="listTitle">
      Recent Quotes
    </div>
    <ul>
      <% @quotes.each do |quote| %>
        <li>
          <div>
            <a href="/<%= quote.id -%>">
              <%= render partial: "partial/single_quote", locals: {quote: quote} %>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
