<% content_for :body do %>
  <div class="list">
    <ul>
      <li>
        <div>
          <%= render partial: "partial/single_quote", locals: {quote: @quote} %>
        </div>
      </li>
    </ul>
  </div>
<% end %>
