<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class='content'><%= @quote.content %></div>
    <div class='book'> from the book : <%= @quote.book %></div>
  </body>
</html>