
<% content_for :body do %>
  <div class="create">
    
    <%= form_tag({ :action => :save }, { :method => :post }) do %>

      <div class="book">
        <%= text_field "quote", "book", :size => 500, :class => "book", :placeholder => "from the book ..." %>
      </div>

      <div>
        <%= text_area "quote", "content", :rows => 5, :class => "content", :placeholder => "it says the quote ..." %>
      </div>

    <% end %>
    
  </div>
  <script>
  $(function() {
    setAutoComplete()
    setInterval(function() { observeValue(); }, 100)
    $('.create form').on('submit', formValidator) 
  });
  </script>
<% end %>

<% content_for :footer do %>
  <div class="add"><%= submit_tag("Add") %></div>
<% end %>
    
