
<% content_for :body do %>
  <div class="create">
    
    <%= form_tag({ :action => :save }, { :method => :post }) do %>

      <div class="book">
        <%= text_field "quote", "book", :size => 500, :class => "book-input", :placeholder => "from the book ..." %>
      </div>

      <div class="content">
        <%= text_area "quote", "content", :rows => 5, :class => "content-input", :placeholder => "it says the quote ..." %>
      </div>

    <% end %>
    
  </div>
  <script>
  $(function() {
    setAutoComplete()
    setInterval(function() { observeValue(); }, 100)
  });
  </script>
<% end %>

<% content_for :footer do %>
  <div class="add">Submit</div>
  <script>
  $(function() {
    $('.create form').on('submit', formValidator) 
    $('.add').on('click', function (e) {
      $('.create form').submit();
    }) 
  });
  </script>
<% end %>   
