<div class="list">
  <div class="listTitle">
    Recent Quotes
  </div>
  <ul>
    <% @quotes.each do |quote| %>
      <li>
        <div class='content'><%= quote.content %></div>
        <div class='book'><%= quote.book %></div>
      </li>
    <% end %>
  </ul>
</div>