<% content_for :body do %>
  <div class="list show">
    <ul>
        <li>
          <div class='content'><%= @quote.content %></div>
          <div class='book'><%= @quote.book %></div>
          <%= social_share_button_tag(@quote.content) %>
        </li>
    </ul>
  </div>
<% end %>

<% content_for :footer do %>
  <div class="add">All Quotes</div>
    <script>
  $(function() {
    $('.add').on('click', function (e) {
      window.location = "<%= url_for :controller => 'home', :action => 'index' %>";
    })
  });
  </script>
<% end %>