<div class="list">
  <div class="listTitle">
    Recent Quotes
  </div>
  <ul>
      <li>
        <div class='content'>The freedom and simple beautyof it is just too good to pass up.</div>
        <div class='book'>Into the Wild</div>
      </li>
      <li>
        <div class='content'>We are all in the gutter, but some of us are looking at the stars.</div>
        <div class='book'>Into the Thin</div>
      </li>
      <li>
        <div class='content'>We are all in the gutter, but some of us are looking at the stars.We are all in the gutter, but some of us are looking at the stars.We are all in the gutter, but some of us are looking at the stars.</div>
        <div class='book'>Into the Thin</div>
      </li>
  </ul>
</div>