<div class='about'>
	<h2>Welcome! <span>Quotezip is a library quotes from many different books.</span></h3>
	
	<ul>
		<li>Have you ever got fascinated by couple of lines of the book that you were reading?</li>
		<li>Have you thought that you should read those lines day after day until you digest them and start applying to your life?</li>
		<li>Do you keep underlining those punch lines?</li> 
	</ul>
	<p>Those happen to us a lot. But then we forgot them and those important lines stay in the books that we rarely look at again after we read them. In order to solve this problem we created <span>quotezip</span>.</p> 
	<p>To <span>quotezip</span> you can write the quotes that fascinates you, you can share them on social networks and you can discover new books by reading their quotes that are added by other users.</p> 
</div>