.create .content{
  width: 345px;
}
.create .book{
  text-align: right;
}

.create .book{
  width: 200px;
  text-align: left;
}

.create .submit{
  text-align: right;
}

.create .subscribe{
  padding: 20px;
}

ul.ui-autocomplete
{
  width: 600px;
}
