.create .content, .create .book{
  padding: 5px;
}

.create .content .content-input, .create .book .book-input{
  width: 99%;
  font-size: 20px;
}

.create .book{
  text-align: left;
}

ul.ui-autocomplete
{
  width: 99%;
}
