.highlight {
  background-color: #CCFD34;
}

.create {
  width: 350px;
  padding: 10px;
}

.create textarea.content{
  width: 345px;
}
.create .book{
  text-align: right;
}

.create input.book{
  width: 200px;
  text-align: left;
}

.create .submit{
  text-align: right;
}

.search {
  padding: 10px 0 0 0;
  margin: 0 0 0 380px;
  text-align: center;
}

.list {
  margin: 0 0 0 380px;
}

.list ul li {
  list-style-type: disc; 
  padding-top: 4px;
  padding-bottom: 1px;
  padding-right: 10px;
  border-bottom: 1px #AAAAFF dotted;
}

.list ul li .book{
  text-align: right;
  font-style: italic;
  color: #A0A0C0;
}