.highlight {
  background-color: #CCFD34;
}

.list .listTitle {
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}

.list ul li {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px #AAAAFF dotted;
}

.list ul li .content, .list ul li .book{
  display: inline-block;
  vertical-align: middle;
}

.list ul li .content{
  width: 88%;
  padding-left: 3px;
}

.list ul li .book{
  width: 10%;
  padding-right: 5px;
  text-align: right;
  font-style: italic;
  color: #A0A0C0;
}
