.content .about{
	padding: 15px;
	font-size: 19px;
}

.content .about h2{
	padding: 5px;
}

.content .about span{
	color:#3366cc;
}

.content .about ul{
	margin-left: 25px;
}

.content .about ul li{
	padding: 3px;
	list-style: disc;
	font-style: italic;
}

.content .about p{
	padding: 5px;
}