<!DOCTYPE html>
<html>
<head>
  <title>Quotezip</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top">quotezip<span class="beta">beta</span></div>
	<div class="middle">
		<div class="content"><%= yield %></div>
	</div>
	<div class="bottom"></div>
</body>
</html>
